 #navcontainer {
	width: 125px;
	margin: 0px;
	padding: 0px;

}

#navcontainer ul
{
	width: 127px;
	list-style-type: none;
	font-family: Arial, Helvetica, sans-serif;
	padding: 0px;
	margin: 0px;


}

#navcontainer a
{
	width: 127px;
	display: block;
	padding: 3px;
	background-color: #5350b9;
	border-bottom: 1px solid #eee;
	border-right-width: 1px;
	border-right-style: solid;
	border-right-color: #eee;
	border-left-width: 1px;
	border-left-style: solid;
	border-left-color: #eee;
	border-top-width: 1px;
	border-top-style: solid;
	border-top-color: #eee;
	margin: 0px;
	width: 125px;




}

#navcontainer a:link, #navlist a:visited
{
color: #EEE;
text-decoration: none;
}

#navcontainer a:hover
{
	background-color: #010f4c;
	color: #fff;

}
.header {
	border-top-width: 1px;
	border-right-width: 1px;
	border-bottom-width: 1px;
	border-left-width: 1px;
	border-top-style: solid;
	border-right-style: solid;
	border-bottom-style: solid;
	border-left-style: none;
	border-top-color: #FFFFFF;
	border-right-color: #FFFFFF;
	border-bottom-color: #FFFFFF;
	border-left-color: #FFFFFF;
}
.ordlist {



}
